[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.5"
djangorestframework = "==3.14.0"
django-cors-headers = "==3.13.0"

[dev-packages]
black = "==22.12.0"

[requires]
python_version = "3.11"
